# Ignore sensitive files
.dana_email/config.json
.dana_email/last_uid.txt
.dana_email/*.log
.DS_Store
*.mov
*.jpg
.android/
.cache/
.config/
.cursor/
.gemini/
.gitkraken/
.gk/
.gnupg/
.local/
.npm/
.nvm/
.ollama/
.Trash/
.zsh_sessions/
Library/
Applications/
Desktop/
Documents/
Downloads/
Movies/
Music/
Pictures/
Public/
.zsh_history
.zshrc
.gitconfig
.viminfo
.claude.json
.claude.json.backup
